@model MoneyBoxWebsite.Models.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="btn-bar-container">
    <h1 class="btn-bar-title">Create</h1>
    <a asp-action="ProductGroupIndex" class="btn btn-success">Product groups</a>
</div>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <!--enctype="multipart/form-data"-->
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="ImageFilePath" class="control-label">Upload an image</label>
                <input type="file" accept=".png, .jpeg, .jpg" name="ImageFilePath" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MoneyCapacity" class="control-label"></label>
                <input asp-for="MoneyCapacity" class="form-control" />
                <span asp-validation-for="MoneyCapacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="SelectedGroup">New Role selection:</label>
                <select class="form-select" name="SelectedGroup" style="margin-bottom: 7px">
                    <option value="">Select a group of products</option>
                    @foreach (string groupName in ViewBag.GroupNames)
                    {
                        <option value="@groupName">@groupName</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>        

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
