@model IEnumerable<MoneyBoxWebsite.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="btn-bar-container">
    <h1 class="btn-bar-title">All our piggybanks!</h1>

    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Assistant"))
    {
        <a asp-action="Create" class="btn btn-success">Add a product</a>
    }
</div>

<ul class="product-gallery">
    @foreach(Product product in Model)
    {
        <li class="product-item">
            <a asp-action="Details" asp-route-id="@product.ProductId">
                <div class="product-image" style="background-image: url(@product.ImageFilePath);">
                    <div class="product-overlay">
                        <h3>@product.Name</h3>
                        <p>@product.Price €</p>
                    </div>
                </div>
            </a>
        </li>
    }
</ul>